$white: #fff;
$white1: #f4f4f4;
$white2: #cccccc;
$white3: #eeeeee;

$black: #000;
$black1: #0000004d;
$black2: #333333;
$black3: #666666;
$black4: #00090d8a;

$grey: #a09999;

$red: #ff0000;

$green: #008000;

$blue: #0000ff;
$blue1: #32325d40;
$blue2: #00136c;
$blue3: #8186bb40;
