.container {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;

    .addImage {
      display: flex;

      input {
        display: flex;
      }
    }

    .addDescription {
      display: flex;

      textarea {
        display: flex;
      }
    }

    .addTags {
      display: flex;

      .tags {
      }
    }

    .formButton {
      display: flex;
    }
  }
}
